@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.brand {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: white;
}

.brand span:last-child {
  color: #f68523;
}

.form-control::placeholder {
  color: #9ca3af;   /* soft gray */
  opacity: 1;       /* important for consistency */
}

.border-color{
  border-color: #141213;
  background-color: #27272b;
  color: white;
}

.border-color:focus{
  border-color: #f68523;
  box-shadow: none;
  background-color: #27272b;
  color: white;
}

.account{
  color: #9ca3af;
}

.account :last-child{
  color:#f68523;
  text-decoration: none;
}